body{background-color: white;border-width: medium;
margin-left: 35px;
    margin-right:35px;
	padding: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 0px;
}
html{background-image: url(images/sunset.jpg);}

h2,h3,h4,h5{font-family: 'Poiret One', normal;
color:black;}
h1{font-family: 'Poiret One', normal;
 color: black;font-kerning: normal;text-align:center;text-decoration:underline; }

 p{font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: #81818A;
list-style-type: square;}

a:hover{color:black;text-align: center;}

.currentlink{color:black;}

.logo{ width: 8%;}

header{ padding:1%;}

nav li{display:inline; padding:5%; position:static;}

.headshot{display:block; margin-left: auto; margin-right: auto;width:50%;}

.p1{font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: #81818A; text-align: center;}

a{font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: #81818A; }
