body{background-color: antiquewhite}
h1,h2,h3,h4,h5{font-family: "Lucida Bright", Georgia, serif; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
ul, p{font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;}
